@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Open+Sans+Condensed:wght@300&display=swap');
.comment-input {
    padding: 12px 12px 12px 7px;
    border-radius: 4px;
    border: solid 1px rgb(199, 189, 189);
    width: 95%;
    background-color: rgb(250, 248, 248);
    margin: 15px 0 10px 0 !important;
    
}

.comment-input::placeholder {
    color: grey;
    font-family: 'Markazi Text', sans-serif;
    font-size: 19px;
}

.comment-submit-button {
    padding: 12px;
    background-color: rgb(14, 102, 161);
    color: white;
    border-radius: 2px;
    border: none;
    width: 80px;
    text-transform: uppercase;
    margin-bottom: 35px;
}


.comment-input:focus {
    outline: none;
}

.comment-submit-button:hover{
    background-color: rgb(0, 128, 96);
    cursor: pointer;
}

.comment-submit-button:disabled {
    cursor:not-allowed;
}

